$background_pic: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3cpath d='M1523.54 343.67L1535.05 343.67L1535.05 355.18L1523.54 355.18z' stroke='rgba(3%2c 123%2c 11%2c 0.63)'%3e%3c/path%3e%3cpath d='M425.59 995.22a41.69 41.69 0 1 0 82.88 9.1z' stroke='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M1734.49 934.47a63.31 63.31 0 1 0 114.64 53.78z' fill='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M971.81 1000.39L977.42 1000.39L977.42 1080.55L971.81 1080.55z' stroke='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M972.06 582.9L1034.37 582.9L1034.37 645.21L972.06 645.21z' stroke='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M785.91 627.7a83.65 83.65 0 1 0-135.78 97.74z' fill='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M1651.71 948.73L1748.51 948.73L1748.51 1008.19L1651.71 1008.19z' stroke='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M426.29 272.69 a36.62 36.62 0 1 0 73.24 0 a36.62 36.62 0 1 0 -73.24 0z' fill='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M866.47 1060.89L940.72 1060.89L940.72 1135.14L866.47 1135.14z' fill='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M948.72 363.79a4.91 4.91 0 1 0-2.24-9.56z' stroke='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M688.11 43.93 a71.79 71.79 0 1 0 143.58 0 a71.79 71.79 0 1 0 -143.58 0z' fill='rgba(66%2c 90%2c 66%2c 0.6)'%3e%3c/path%3e%3cpath d='M764.44 161.95L846.45 161.95L846.45 252.63L764.44 252.63z' fill='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M1498.11 65.42L1588 65.42L1588 155.31L1498.11 155.31z' fill='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M436.01 96.44L493.12 96.44L493.12 170.8L436.01 170.8z' stroke='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M595.29 600.05L666.45 600.05L666.45 684.34L595.29 684.34z' stroke='rgba(66%2c 90%2c 66%2c 0.6)'%3e%3c/path%3e%3cpath d='M1360.02 1066.03a7.46 7.46 0 1 0 13.04 7.24z' stroke='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M865.09 813.32a5.69 5.69 0 1 0-5.94-9.71z' stroke='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M580.47 626.91L645.75 626.91L645.75 702.56L580.47 702.56z' stroke='rgba(66%2c 90%2c 66%2c 0.6)'%3e%3c/path%3e%3cpath d='M513.25 933.05L516.26 933.05L516.26 936.06L513.25 936.06z' stroke='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M861.1 822.27L967.57 822.27L967.57 928.74L861.1 928.74z' fill='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M170.6 165.51L240.98 165.51L240.98 178.3L170.6 178.3z' fill='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3cpath d='M225.69 895.99L291.48 895.99L291.48 961.78L225.69 961.78z' stroke='rgba(231%2c 54%2c 53%2c 0.5)'%3e%3c/path%3e%3cpath d='M496.28 1038.92 a18.49 18.49 0 1 0 36.98 0 a18.49 18.49 0 1 0 -36.98 0z' stroke='rgba(211%2c 183%2c 20%2c 0.59)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
.app {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-image: $background_pic;
  background-size: cover;
  background-position: center center;
}
.app--dark-theme {
  background-color: whitesmoke;
  color: #fff;
}
.app--light-theme {
  $background-color: #fff;
  color: #282828;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
